#!/usr/bin/make -f

clean:
	dh_testdir
	dh_clean

build:
	dh_testdir
	dh_prep

install: build
	dh_testdir
	dh_testroot

	dh_installdirs

	install -m755 mk-rawpic $(CURDIR)/debian/mk-rawpic/usr/bin

binary-arch: install

binary-indep: install
	dh_testdir
	dh_testroot

	dh_installdocs
	dh_installchangelogs
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep

.PHONY: clean build install binary-arch binary
